/* MAIN STYLES  */
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    font-size: 16px;
}
:root{
    --primary-brand:#4D5AE5;
    --pressed-state:#404BBF;
    --darc: #2E2F42;
    --success:#31d0aa;
    --text: #434455;
    --subtle-text:#8e8f99;
    --accent:#e7e9fc;
    --light:#f4f4fd; 
    --white-text-color:ffffff;
    --Modal-overlay:#2E2F42;
    --Hero-background: #2E2F42;

    --main-font: Roboto, sans-serif;
    --secondary-font: Relewey, sans-serif;


    
}


/* STYLES STUDIO */

/* ================= Header styles ================= */

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: #2E2F42;
    text-transform: uppercase;
}

.logo-accent {
    color: #4D5AE5
}


.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
}

.current{
 color: #4D5AE5; 
}

.menu-link:hover,
.menu-link:focus {
    color: #4D5AE5;
}

.contact {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.contact:hover,
.contact:focus {
    color: #4D5AE5;
}

/*================= /Header styles ================= */


/*================= Hero ================= */
.hero {
    background-color: #2E2F42;
    
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    color: #FFFFFF;
}

.button { 

    font-family: Roboto;
    font-weight: 500;
    font-Size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color:#4D5AE5;
    color: #FFFFFF;
}

.button:hover,
.button:focus {
    background-color:#404BBF;
    color: #FFFFFF;

}

/*================= /Hero ================= */


/*================= Advantages ================= */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.subtitle {
    font-weight: 500;
    font-size: 20px; 
    line-height:1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.text {

    line-height: 1.5;
    color: #434455;
}

/* ================= /Advantages ================= */


/*================= Team ================= */
.team {
    background-color: #F4F4FD;
}

/*================= /Team ================= */

/* ===================  Footer    ================ */
.footer {
    background-color: #2E2F42;
}

.text-footer {
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
}

.footer-logo {
    color: #F4F4FD;
}

/* ===================  /Footer    ================ */

/* STYLES PORTFOLIO */

/* ============== Filter ============= */

.button-filter {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #4D5AE5;
    Background-color: #F4F4FD;
    border: #E7E9FC;
   

}

.button-filter:hover,
.button-filter:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}